.rootofequation-submenu{
    width: 11rem;
    position: absolute;
    right: 690px;
    top: 70px;
    list-style: none;
    text-align:start;
}
.rootofequation-submenu li {
    background: rgb(0,212,212);
    cursor: pointer;
}
.rootofequation-submenu.clicked{
    display: none;

}
.submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;


}
.submenu-item:hover {
    background: rgb(0,175,175);


}
.linearalgebra-submenu{
    width: 11rem;
    position: absolute;
    right: 500px;
    top: 70px;
    list-style: none;
    text-align:start;
}
.linearalgebra-submenu li{
    background: rgb(0,212,212);
    cursor: pointer;
}
.linearalgebra-submenu.clicked{
    display: none;

}

.interpolation-submenu{
    width: 11rem;
    position: absolute;
    right: 300px;
    top: 70px;
    list-style: none;
    text-align:start;
}
.interpolation-submenu li{
    background: rgb(0,212,212);
    cursor: pointer;
}
.interpolation-submenu.clicked{
    display: none;

}

.regression-submenu{
    width: 11rem;
    position: absolute;
    right: 130px;
    top: 70px;
    list-style: none;
    text-align:start;
}
.regression-submenu li{
    background: rgb(0,212,212);
    cursor: pointer;
}
.regression-submenu.clicked{
    display: none;

}
